<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form method="post" action="/team">
    <p><input Team Name: type="text" name="name"></p>
    <p><input Coach: type="text" name="coach"></p>
    <p><input Point Guard: type="text" name="pg"></p>
    <p><input Shooting Guard: type="text" name="sg"></p>
    <p><input Power Forward: type="text" name="pf"></p>
    <p><input Small Forward: type="text" name="sf"></p>
    <p><input Center: type="text" name="c"></p>
      <input type="submit" value="submit">
    </form>
 </head>
 <body>
 </body>
</html>
